body {
      margin: 0;
      background: #d7f1f7;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'Arial', sans-serif;
    }

    .calculator {
      width: 300px;
      background: #2e3b4e;
      border-radius: 20px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      /* it automatically cover height based on button */
      overflow: hidden; 
    }

    .display {
      background: #2e3b4e;
      color: white;
      text-align: right;
      padding: 20px;
      font-size: 2em;
      height: 80px;
      box-sizing: border-box;
    }

    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1px;
      background: #2e3b4e;
    }

    button {
      background: #35475c;
      border:none;
      outline: none;
      color: white;
      font-size: 1.4em;
      padding: 20px 0;
      cursor: pointer;
      transition: background 0.2s;
      border-radius: 50%;
      
    }

    button:hover {
      background: #445b75;
    }

    .operator {
      color: #f76c6c;
      background-color:rgb(225, 187, 163);
      border:1px solid red
    }